body.theme-dark {
  --primary-1: #111d2c;
  --primary-2: #112a45;
  --primary-3: #15395b;
  --primary-4: #164c7e;
  --primary-5: #1765ad;
  --primary-6: #177ddc;
  --primary-7: #3c9ae8;
  --primary-8: #65b7f3;
  --primary-9: #8dcff8;
  --primary-10: #b7e3fa;

  --success-1: #162312;
  --success-2: #1d3712;
  --success-3: #274916;
  --success-4: #306317;
  --success-5: #3c8618;
  --success-6: #49aa19;
  --success-7: #6abe39;
  --success-8: #8fd460;
  --success-9: #b2e58b;
  --success-10: #d5f2bb;

  --danger-1: #2a1215;
  --danger-2: #431418;
  --danger-3: #58181c;
  --danger-4: #791a1f;
  --danger-5: #a61d24;
  --danger-6: #d32029;
  --danger-7: #e84749;
  --danger-8: #f37370;
  --danger-9: #f89f9a;
  --danger-10: #fac8c3;

  --warning-1: #2b2111;
  --warning-2: #443111;
  --warning-3: #594214;
  --warning-4: #7c5914;
  --warning-5: #aa7714;
  --warning-6: #d89614;
  --warning-7: #e8b339;
  --warning-8: #f3cc62;
  --warning-9: #f8df8b;
  --warning-10: #faedb5;

  --neutral-1: #000000;
  --neutral-2: #141414;
  --neutral-3: #1f1f1f;
  --neutral-4: #262626;
  --neutral-5: #434343;
  --neutral-6: #595959;
  --neutral-7: #8c8c8c;
  --neutral-8: #bfbfbf;
  --neutral-9: #d9d9d9;
  --neutral-10: #f0f0f0;
  --neutral-11: #f5f5f5;
  --neutral-12: #fafafa;
  --neutral-13: #ffffff;

  --background: var(--neutral-2);
  --text: var(--neutral-12)
}
